/*
Colors used:
Heading: #72c7e7;
Subheading: #177385;
Text: #black
Background: #f5ebd4;
*/
body {
  background-color: #f5ebd4;
  font-family: 'Lato', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #black;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #black
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #72c7e7
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  color: #177385
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

img {
  width: 100%;
}

.hero {
  color: #000000
}

.main {
  color: #000000
}

.contact {
  color: #000000
}

/*links*/
a:link {
  color: #177385;
}

a:visited {
  color: #000000;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #177385;
}

a:active {
  /* selected link */
  color: #177385;
}

/*buttons*/
.button {
  display: inline-block;
  background-color: #72c7e7;
  color: #ffffff;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #4e8e41;
  transition: 0.2s opacity;
}

.button:hover,
.button.learn.more:focus {
  background-color: #177385;
}

.button:active {
  background-color: #177385;
  color: #ffffff;
}

.button.learn.more {
  color: #ffffff;
}

.button.coming.soon {
  background-color: darkgray;
  pointer-events: none;
  border-bottom: 2px solid gray;
}

.button.contact {
  background-color: transparent;
  color: #177385;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px;
  border: 2px solid #177385;
  border-radius: 3px;
  transition: 0.2s opacity;
  margin-bottom: 15px;
}

.button.contact:hover,
.button.contact:focus {
  background-color: #72c7e7;
  color: 177385;
  text-decoration: none;
}

.button.contact:active {
  background-color: #72c7e7;
  color: #177385;
}

/* Layout styling */
header {
  background-color: #72c7e7;
  opacity: 0.8;
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #000000;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative;
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

selector {
  float: right;
}

.container {
  max-width: 1200px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

.center {
  text-align: center;
}

.logo {
  max-width: 250px;
}

.social-media img{
max-width: 32px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #177385;
}

nav > ul > li > a:hover {
  color: #177385;
  text-decoration: underline;
}

nav > ul > li > a:active {
  color: #ffffff;
}

#hero {
  background-color: #72c7e7;
  opacity: 0.8;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

main {
  padding-top: 25px;
}
